[submodule "src/3rdparty/libcrashreporter-qt"]
	path = src/3rdparty/libcrashreporter-qt
	url = git://github.com/dschmidt/libcrashreporter-qt.git
[submodule "src/3rdparty/zsync"]
	path = src/3rdparty/zsync
	url = https://github.com/owncloud/zsync
[submodule "src/3rdparty/cs3apis"]
	path = src/3rdparty/cs3apis
	url = https://github.com/cs3org/cs3apis.git
